apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd
resources:
  - argocd-ns.yaml
  - externalSecret-admin.yaml
  - externalSecret-repository.yaml
  - argocd-cmd-params-cm.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.0-rc3/manifests/install.yaml
  - ingressRoute.yaml
  - applicationSet-system.yaml

configMapGenerator:
  - name: argocd-cmd-params-cm
    behavior: replace
    literals:
      - applicationsetcontroller.enable.progressive.syncs=true
    options:
      disableNameSuffixHash: true