apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager-discord
spec:
  selector:
    matchLabels:
      app: alertmanager-discord
  replicas: 1
  template:
    metadata:
      labels:
        app: alertmanager-discord
    spec:
      containers:
      - name: alertmanager-discord
        image: rogerrum/alertmanager-discord:main
        env:
        - name: DISCORD_WEBHOOK
          valueFrom:
            secretKeyRef:
              name: alertmanager-secrets
              key: discord-webhook-k3s-nodes
---
apiVersion: v1
kind: Service
metadata:
  name: svc-alertmanager-discord
  labels:
    app: alertmanager-discord
spec:
  type: ClusterIP
  selector:
    app: alertmanager-discord
  ports:
    - port: 9094